.main{
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
  background-color: rgba(118, 150, 151, 0.677);
}
.main .nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  color: #292525;
  background-color: #79a6a6;
}




.main-container{
  max-width: 900px;
  margin: auto;
}
.main .greet{
  margin: 50px 0px;
  font-size: 56px;
  font-weight: 500;
  color: #26a5be;
  font-weight: 500;
  padding: 20px;
}
.main .greet span{
  background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
  gap: 15px;
  padding: 20px;
  background-color: #acc6e5;
  border-radius: 10px;

}
.main .card{
  height: 200px;
  padding: 15px;
  font-weight: 500;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.main .card img{
  width: 35px;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}
.main .card p{
  color:#585858;
  font-size: 17px;
}

.main .card:hover{
  background-color: hwb(213 87% 8% / 0.669);
}



.main-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
}

.search-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #d1d1d1d9;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box img{
  width: 24px;
  cursor: pointer;
}

.search-box input{
  flex: 1;
  background: transparent;
  border: none;
  padding: 8px;
  font-size: 18px;
}

.search-box div{
  display: flex;
  align-items: center;
  gap: 15px;
}

.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.result{
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
}
.result::-webkit-scrollbar{
  display: none;
}

.result-title{
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.result img{
  width: 40px;
  border-radius: 50%;
}

.result-data{
  display: flex;
  align-items: start;
  gap: 20px;
}

.loader{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr{
  border-radius: 23px;
  border: 2px;
  border-block-end-color: #292525;
  background-color: #f6f7f8;
  /* background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff); */
  background-size: 900px 90px;
  background-color: #ffefef;
  /* background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%); */
  background-color: #ffffff;
  background: linear-gradient(to left, #335c81 , #ffffff , #335c81 );
  height: 25px;
  animation: loader 2.8s infinite linear;
}
@keyframes loader{
  0%{
    background-position: -800px 0px;
  }
  100%{
    background-position: 800px 0px;

  }
}
.result-data p{
  font-size: 17px;
  font-weight: 400;
  line-height: 2.1;
  
}

@media (max-width:600px) {
  .main-bottom input{
    flex: none;
    width: 150px;
  }
  .main-bottom img{
    width: 20px;
  }
  .search-box div{
    gap: 5px;
  }
}